POLYMARKET_RUN_METERED_TESTS=0
POLYMARKET_PRIVATE_KEY=0xYOUR_PRIVATE_KEY
POLYMARKET_DEPOSIT_WALLET=0xYOUR_DEPOSIT_WALLET
POLYMARKET_PROXY_PRIVATE_KEY=0xYOUR_PROXY_PRIVATE_KEY
POLYMARKET_PROXY_WALLET=0xYOUR_PROXY_WALLET
POLYMARKET_SAFE_PRIVATE_KEY=0xYOUR_SAFE_PRIVATE_KEY
POLYMARKET_SAFE_WALLET=0xYOUR_SAFE_WALLET
POLYMARKET_BUILDER_CODE=0xYOUR_BUILDER_CODE_BYTES32
PRIVY_TEST_APP_ID=YOUR_PRIVY_TEST_APP_ID
PRIVY_TEST_APP_SECRET=YOUR_PRIVY_TEST_APP_SECRET
PRIVY_TEST_WALLET_ID=YOUR_PRIVY_TEST_WALLET_ID
POLYMARKET_BUILDER_API_KEY=YOUR_BUILDER_API_KEY
POLYMARKET_BUILDER_SECRET=YOUR_BUILDER_SECRET
POLYMARKET_BUILDER_PASSPHRASE=YOUR_BUILDER_PASSPHRASE
POLYMARKET_RELAYER_API_KEY=YOUR_RELAYER_API_KEY
POLYMARKET_RELAYER_API_KEY_ADDRESS=YOUR_RELAYER_API_KEY_ADDRESS
